{% if page.comments %}
  <hr>

  <aside id ="comments" class="giscus">
    <script src="https://giscus.app/client.js"
      data-repo="han-chunsik/blog"
      data-repo-id="R_kgDOOm8CKw"
      data-category="Q&A"
      data-category-id="DIC_kwDOOm8CK84Cp8NQ"
      data-mapping="pathname"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="top"
      data-theme="light_protanopia"
      data-lang="ko"
      crossorigin="anonymous"
      async>
    </script>
  </aside>
{% endif %}