.penguin-walk {
  position: fixed;
  bottom: 0;
  left: -60px;
  width: 50px;
  z-index: 9999;
  animation: penguinMove 60s linear infinite; /* 기본값: PC용 60초 */
  cursor: pointer;
}

.penguin-walk img {
  width: 50px;
  height: auto;
  pointer-events: none;
}

@keyframes penguinMove {
  0% {
    left: -200px;
  }
  100% {
    left: 100vw;
  }
}

/* 기본: 펭귄 보이고 이글루는 숨김 */
.penguin-walk .penguin {
  display: block;
}
.penguin-walk .igloo {
  display: none;
}

/* hover 시: 펭귄 숨기고 이글루 보여줌 */
.penguin-walk:hover .penguin {
  display: none;
}
.penguin-walk:hover .igloo {
  display: block;
}

.penguin-walk:hover {
  animation-play-state: paused;
}

/* 📱 모바일 화면에서 애니메이션 시간 변경 */
@media (max-width: 768px) {
  .penguin-walk {
    animation: penguinMove 30s linear infinite;
  }

  .penguin-walk:hover .penguin {
    display: block;
  }
  .penguin-walk:hover .igloo {
    display: none;
  }

  .penguin-walk:hover {
    animation-play-state: running;
  }

  .penguin-walk:hover::after {
    display: none;
    content: none;
  }
}
